<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All people</title>
</head>
<body>
<h2>All users</h2>
<hr>
<table border="2" style="width:300px">
    <tr>
        <td>id</td>
        <td>username</td>
        <td>email</td>
        <td>actions</td>
    </tr>
    <tr th:each="user: ${users}">
        <td th:text="${user.getId()}"/>
        <td th:text="${user.getUsername()}"/>
        <td th:text="${user.getEmail()}"/>
        <td>
            <form th:method="GET" th:action="@{/admin/{id}/edit(id=${user.getId()})}">
                <input type="submit" value="edit">
            </form>
            <form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
                <input type="submit" value="delete">
            </form>
        </td>
    </tr>
</table>
<br>
<form th:method="GET" th:action="@{/admin/new}">
    <input type="submit" value="create">
</form>
<form th:method="GET" th:action="@{/logout}">
    <input type="submit" value="logout">
</form>
</body>
</html>